@model WebManagementExcelDatabase.Agentii_Table

@{
    ViewBag.Title = "Create";
    if (this.User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Agentii_Table</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.NrCrt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NrCrt)
                @Html.ValidationMessageFor(model => model.NrCrt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Agentie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Agentie)
                @Html.ValidationMessageFor(model => model.Agentie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Intrare, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Intrare)
                @Html.ValidationMessageFor(model => model.Intrare)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Iesire, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Iesire)
                @Html.ValidationMessageFor(model => model.Iesire)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Explicatii, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Explicatii)
                @Html.ValidationMessageFor(model => model.Explicatii)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Operator, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Operator)
                @Html.ValidationMessageFor(model => model.Operator)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataOra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataOra)
                @Html.ValidationMessageFor(model => model.DataOra)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sold, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sold)
                @Html.ValidationMessageFor(model => model.Sold)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UltimaOp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UltimaOp)
                @Html.ValidationMessageFor(model => model.UltimaOp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Zile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Zile)
                @Html.ValidationMessageFor(model => model.Zile)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
